svg {
    width: 2000px;
    height: 1000px;
    user-select: none;
}

.svg-wrapper {
    height: calc(100vh - 256px);
    overflow: scroll;
}

.svg-wrapper .card-pf {
    border: 1px solid #eaeaea;
    border-top: 3px solid #0065a1;
}

.svg-wrapper .card-pf .junction {
    position: absolute;
    height: 15px;
    width: 8px;
    background: #d1d1d1;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}


.svg-wrapper .card-pf .junction.active {
    background: #0088ce;
}

.svg-wrapper .card-pf .junction:hover {
    background: #3f9c35;
}

.popup-option {
    position: absolute;
    z-index: 999;
}

.edge-group {
    cursor: pointer;
}

.edge-group:hover .color-path{
    stroke-width: 4;
    stroke: #008dd6;
}

.flow-chart .svg-wrapper .option-button {
    right: 5px;
    top: 5px;
    font-size: 18px;
    position: absolute;
    cursor: pointer;
}

.flow-chart .svg-wrapper .card-pf-body .dropdown {
    width: 92px;
}

.flow-chart .svg-wrapper .card-pf-body .dropdown button {
    width: 100%
}


/*
    Modal overwrite CSS
*/

.modal .modal-dialog {
    width: 900px;
}

.modal .modal-dialog .tab-content .align-right-primary {
    color: #333;
}

.modal .modal-dialog .nav-tabs > li > a {
    color: #fff;
}

.modal .modal-dialog .nav-tabs > li.active > a {
    color: #0088ce;
}