svg {
    width: 2000px;
    height: 1000px;
}

.svg-wrapper {
    height: calc(100vh - 256px);
    overflow: scroll;
}

.svg-wrapper .card-pf {
    border: 1px solid #eaeaea;
}

.svg-wrapper .card-pf .junction {
    position: absolute;
    height: 15px;
    width: 8px;
    background: #d1d1d1;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}


.svg-wrapper .card-pf .junction.active {
    background: #0088ce;
}

.svg-wrapper .card-pf .junction:hover {
    background: #3f9c35;
}

.popup-option {
    position: absolute;
    z-index: 999;
}

.edge-group {
    cursor: pointer;
}

.edge-group:hover .color-path{
    stroke-width: 4;
    stroke: #008dd6;
}

.flow-chart .svg-wrapper .option-button {
    right: 5px;
    top: 5px;
    font-size: 18px;
    position: absolute;
    cursor: pointer;
}